* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.mt-20 {
    margin-top: 20px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.d-flex {
    display: flex !important;
}
.bold {
    font-weight: bold !important;
}
.special-text {
    color: #F6A903 !important;
}
/** Section **/
.section {
    height: auto;
    background-image: linear-gradient(to left, #9F4BA6, #0888D5 );
    display: flex;
    justify-content: center;
}
.container {
    width: 1250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h3-section {
    text-align: center !important;
    color: #FFF;
    font-weight: 500;
    font-size: 35px;
    width: 80%;
}
.video-area {
    margin-top: 40px;
    text-align: center !important;
}
.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 470px;
    text-align: center;
    margin-top: 40px;
}
.title-form-area {
    margin-right: auto;
}
.h2-form {
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
}
.p-form {
    font-size: 17px;
    margin: 5px 0;
}
.input-form {
    font-size: 15px;
    width: 225px;
    border-radius: 5px;
    height: 40px;
    border: #9F4BA6;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
    padding: 15px;
    color: #0888D5;
}
.input-fone {
    width: 470px;
}
.label {
    padding: 15px 0;
}
.btn-form {
    font-size: 15px;
    padding: 15px;
    font-family: 'Poppins';
    border: 0;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to bottom, #F6A903, #D9980B );
    color: #FFF;
    cursor: pointer;
    font-weight: 500;
    margin-top: 15px;
    transition: all ease 0.8s;
}
.btn-question a {
    color: #FFF;
    text-decoration: none;
}
.btn-form:hover {
    transition: all ease-in 0.8s !important;
    background-image: linear-gradient(to bottom, #FFB71C, #FFAF19);
}
.info-area {
    margin-top: 40px;
    width: 80%;
    background-image: url('../images/rocket-teste-2.png');
    background-repeat: no-repeat;
    background-position-x: center;
}
.h3-info {
    text-align: center !important;
    color: #FFF;
    font-weight: 600;
    font-size: 40px;
    height: 305px;
}
.question-area {
    width: 80%;
    display: flex;
    flex-direction: column;
    max-height: 370px;
}
.question {
    width: 300px;
    margin: 40px 0;
}
.container-question {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.p-question {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.btn-question {
    font-size: 15px;
    padding: 15px;
    width: 100%;
    font-family: 'Poppins';
    border: 0;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to bottom, #F6A903, #D9980B );
    color: #FFF;
    cursor: pointer;
    font-weight: 500;
    margin-top: 15px;
    transition: all ease-in 0.8s !important;
}
.btn-question:hover {
    transition: all ease-in 0.8s !important;
    background-image: linear-gradient(to bottom, #FFB71C, #FFAF19);
}
.consultorias-area {
    margin-top: 250px;
}
.h3-consult {
    text-align: center !important;
    color: #FFF;
    font-weight: 600;
    font-size: 40px;
}

.container-consultoria {
    display: flex;
    justify-content: center;
    width: 100%;
}
.consultoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px;
}
.p-consultoria {
    margin-top: 10px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.p-consultoria > a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.feedback-area {
    margin-top: 80px;
}
.h3-feedback {
    font-size: 40px;
    color: #FFF;
    text-align: center !important;
}
.container-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}
.img-feedback-area {
    display: flex;
    margin-top: 10px;
}
.img-feed {
    width: 400px;
    margin: 0px 20px;
}
.img-sbtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc-image {
    width: 300px;
}
.desc-feedback {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    width: 90%;
}

.bonus-area {
    margin-top: 80px;
}
.h3-bonus {
    font-size: 40px;
    color: #FFF;
    text-align: center !important;
}
.h3-bonus-sbtitle {
    font-size: 35px;
    color: #FFF;
    text-align: center !important;
}
.bonus-container {
    margin-top: 40px;
    width: 100%;
    display: flex !important;
    align-items: center;
}
.bonus-imagem-area {
    column-count: 2;
    align-items: center;
}
.img-bonus {
    width: 80%;
    margin: 7px 0;
}
/** Estilo no placeholder **/ 
::-webkit-input-placeholder {
    color:#0888D5; 
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;

}
input:-moz-placeholder {
    color: #0888D5;
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}

@media only screen and (max-width: 1150px) {
    .question {
        width: 255px;
    }
    .bonus-container {
        padding: 0 20px;
    }
    .bonus-area {
        text-align: center !important;
    }
}


@media only screen and (max-width: 1110px) {
    .container-consultoria, .cont {
        flex-wrap: wrap;
    }
    .container-question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question-area {
        max-height: 100vw;
    }
    .question {
        width: 60%;
    }
    .consultorias-area {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 992px) {
    .consultorias-area {
        margin-top: 150px;
    }
}
@media only screen and (max-width: 945px) {
    .consultorias-area {
        margin-top: 250px;
    }

}

@media only screen and (max-width: 880px) {
    .consultorias-area {
        margin-top: 350px;
    }
    .container-feedback > iframe {
        width: 540px;
    }
    .img-feed {
        width: 250px;
    }
}
@media only screen and (max-width: 840px) {
    .consultorias-area {
        margin-top: 400px;
    }
}
@media only screen and (max-width: 775px) {
    .consultorias-area {
        margin-top: 500px;
    }
}
@media only screen and (max-width: 760px) {
    .consultorias-area {
        margin-top: 600px;
    }
}

@media only screen and (max-width: 740px) {
    .video-area > iframe {
        width: 100%;
    }
}
@media only screen and (max-width: 714px) {
    .consultorias-area {
        margin-top: 700px;
    }
}
@media only screen and (max-width: 680px) {
    .consultorias-area {
        margin-top: 850px;
    }
}


@media only screen and (max-width: 630px) {
    .h3-info, .h3-section, .h3-consult, .h3-bonus, .h3-feedback {
        font-size: 30px;
    }
    .h3-bonus-sbtitle {
        font-size: 25px;
    }
    .video-area > iframe {
        width: 475px;
    }
    .question {
        width: 75%;
    }
    .consultorias-area {
        margin-top: 600px;
    }
    .bonus-imagem-area {
        column-count: 1;
        align-items: center;
    }
}
@media only screen and (max-width: 595px) {
    .consultorias-area {
        margin-top: 680px;
    }
    .container-feedback > iframe {
        width: 470px;
    }
    .img-feed {
       width: 215px;
    }
}
@media only screen and (max-width: 570px) {
    .consultorias-area {
        margin-top: 780px;
    }
}
@media only screen and (max-width: 570px) {
    .consultorias-area {
        margin-top: 875px;
    }
}

@media only screen and (max-width: 510px) {

}

@media only screen and (max-width: 490px) {
    .consultorias-area {
        margin-top: 975px;
    }
    .video-area > iframe {
        width: 400px;
    }
    .title-form-area {
        margin-right: unset;
        margin-bottom: 5px;
    }
    .form-area {
        display: flex;
        flex-direction: column;
        text-align: unset;
        width: 100%;
    }
    .form-area > label {
        display: flex;
        flex-direction: column;
    }
    .label {
        padding: 0px;
    }
    .input-form {
        font-size: 13px;
        width: 200px;
        margin: 10px 0;
    }
    .container-feedback > iframe {
        width: 300px;
    }
    .img-feedback-area {
        flex-direction: column;
    }
    .img-feed {
        width: 300px;
        margin: 7px 0;
    }
}
@media only screen and (max-width: 470px) {
    .video-area > iframe {
        width: 325px;
    }
    .consultorias-area {
        margin-top: 1025px;
    }
    .desc-feedback {
        font-size: 19px;
    }
}

@media only screen and (max-width: 455px) {
    .consultorias-area {
        margin-top: 1052px;
    }
}
@media only screen and (max-width: 438px) {
    .question-area {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 430px) {
    .consultorias-area {
        margin-top: 1200px;
    }
}
@media only screen and (max-width: 410px) {
    .info-area {
        background-image: url('../images/rocket-mobile.png');
        background-repeat: no-repeat;
        background-position-x: center;
    }
}
@media only screen and (max-width: 393px) {
    .consultorias-area {
        margin-top: 1300px;
    }
}
@media only screen and (max-width: 387px) {
    .question-area {
        margin-top: 100px;
    }
}
@media only screen and (max-width: 369px) {
    .consultorias-area {
        margin-top: 1440px;
    }
}

@media only screen and (max-width: 345px) {
    .video-area > iframe {
        width: 290px;
    }
    .consultorias-area {
        margin-top: 1550px;
    }
}
@media only screen and (max-width: 325px) {
    .h3-info, .h3-section, .h3-consult, .h3-bonus, .h3-feedback {
        font-size: 27px;
    }
    .btn-form {
        font-size: 13px;
    }
}
@media only screen and (max-width: 320px) {
    .consultorias-area {
        margin-top: 1625px;
    }
}